{% extends 'base.html' %}
{% load static %}
{% block video %}


<div class="row max-height-400px">
    <div class="">
        <div class="video-container video-container-16x9 iframe">
            <video src="{{ object.video.url }}" controls autoplay width="640" height="350">
            </video>
        </div>
    </div>
</div>
<div class="like" id="{{ user.id }}">
    <h5 class="navbar-brand">{{ object.title }}</h5>
    <br>
    <span>조회수(보류)</span>
    <span>·</span>
    <span>날짜(보류)</span>
    <a class="like-a">
        <button class="like-btn" id="{{ video.id }}"></button>
    </a>
    <span class="total-good"></span>
</div>
<br/>
<div class="sub">
    <a href="{% url 'youtube:someoneChannel' channel.id %}">
        <img class="profile-img img-fluid" src="{{ channel.channel_photo.url }}" alt="">
        <span>{{ channel.name }}</span>
    </a>
    <a class="sub-a">
        <button class="sub-btn" value="{{ channel.id }}"></button>
    </a>
    <span class="total-sub"></span>
</div>
{% endblock %}

{% block extra-script %}
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/subscriber.js' %}"></script>
{% endblock %}