{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <p class="font-italic">여기서는 동영상을 업로드 할수있습니다.</p>

    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">오류가 발생했으므로 수정후 다시 시도해주세요</div>
        {{ form.errors }}
    </div>
    {% endif %}

    <form enctype="multipart/form-data" action="" method="post" class="card pt-3">
        {% csrf_token %}
        <div class="form-group row">
            {{ form.title|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.title|add_class:"form-control title"|attr:"autofocus" }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.video|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.video|add_class:"form-control-file" }}
            </div>
        </div>

        <div class="form-group row">
            {{ form.thumbnail|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
            <div class="col-sm-5">
                {{ form.thumbnail|add_class:"form-control-file" }}
            </div>
        </div>

        <div class="form-group">
            <div class="offset-sm-2 col-sm-5">
                <input type="submit" value="업로드" class="btn btn-info video-submit"/>
            </div>
        </div>
    </form>

{% endblock %}

{% block bell %}
const form = document.querySelector(".card")
const title = form.querySelector(".title")
const btn = document.querySelector(".video-submit")

btn.onkeyup = function(e){
    if (e.keyCode === 13) {
        btn.click();
    }
};
btn.onclick = function(e) {
    chatSocket.send(JSON.stringify({
        'title': title.value
    }));
};

{% endblock %}